<div class ="d-flex flex-column align-items-center">
<h1 >My tasks</h1>

<ul class="list-unstyled">
  <% @tasks.each do |task| %>
	<li class="border"><%= link_to task.title, task_path(task) %></li>
  <% end %>
</ul>

<%= link_to "Add a new task", new_path, class:"btn btn-primary"%>
</div>
